@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.container {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container .header {
  padding: 2.08vw 4.16vw 0 4.16vw;
  margin-bottom: 140px;
}
.container .header .nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.container .header .nav .burger__container {
  display: none;
}
.container .header .nav .header__logo {
  width: 250px;
  height: 100%;
}
.container .header .nav .header__ol {
  display: flex;
  align-items: center;
}
.container .header .nav .header__ol .header__li {
  text-align: center;
  margin-right: 3.125vw;
}
.container .header .nav .header__ol .header__li a {
  text-decoration: none;
  font: 400 22px "Manrope";
  color: #1A5653;
}
.container .header .nav .header__ol .header__li a:hover {
  cursor: pointer;
  border-bottom: 1px solid #1A5653;
}
.container .header .nav .header__ol .header__li .last_a:hover {
  border-bottom: 0;
}
.container .header .nav .header__ol .header__li:last-child {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}
.container .header .nav .header__ol .header__li:last-child a {
  display: flex;
  align-items: center;
}
.container .header .nav .header__ol .header__li:last-child a span {
  margin-right: 15px;
  border-bottom: 1px solid black;
}
.container .header .nav .header__ol .header__li:last-child a img {
  width: 2.5vw;
  height: 2.5vw;
}
.container .main {
  margin-bottom: 200px;
}
.container .main .main__section1 {
  display: flex;
  justify-content: center;
}
.container .main .main__section1 .section1__wrapper {
  width: 574px;
}
.container .main .main__section1 .section1__wrapper .section1__title {
  text-align: center;
}
.container .main .main__section1 .section1__wrapper .section1__title h1 {
  font: 700 48px "e-Ukraine";
  margin-bottom: 66px;
}
.container .main .main__section1 .section1__wrapper .section1__input_text input, .container .main .main__section1 .section1__wrapper .section1__input_pass input {
  box-sizing: border-box;
  border: 1px solid black;
  padding-left: 28px;
  border-radius: 999px;
  font: 400 24px "Manrope";
  color: grey;
  height: 65px;
  width: 100%;
}
.container .main .main__section1 .section1__wrapper .section1__input_text input:focus, .container .main .main__section1 .section1__wrapper .section1__input_pass input:focus {
  outline: none;
  border: 1.4px solid rgb(16, 120, 105);
  color: rgb(16, 120, 105);
}
.container .main .main__section1 .section1__wrapper .section1__input_text {
  margin-bottom: 30px;
}
.container .main .main__section1 .section1__wrapper .section1__input_pass {
  margin-bottom: 30px;
}
.container .main .main__section1 .section1__wrapper .section1__container {
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .main .main__section1 .section1__wrapper .section1__container a {
  text-decoration: none;
  margin-right: 5px;
  font: 500 16px "Manrope";
  color: rgb(26, 86, 83);
}
.container .main .main__section1 .section1__wrapper .section1__container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container .main .main__section1 .section1__wrapper .section1__container img {
  height: 10px;
  width: 15px;
}
.container .main .main__section1 .section1__wrapper .section1__enter {
    background-color: rgb(26, 86, 83);
    text-align: center;
    margin-bottom: 30px;
    border-radius: 999px;
    padding: 15px 0;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter button {
    background: rgb(26, 86, 83);
    height: min-content;
    text-align: center;
    text-decoration: none;
    font: 600 24px "Manrope";
    border: 0;
    color: #fff;

}
.container .main .main__section1 .section1__wrapper .section1__nav {
  display: flex;
  justify-content: center;
}
.container .main .main__section1 .section1__wrapper .section1__nav .section1__nav_tex1 {
  margin-right: 10px;
  font: 400 24px "Manrope";
  color: rgb(140, 140, 140);
}
.container .main .main__section1 .section1__wrapper .section1__nav a {
  text-decoration: none;
  font: 600 24px "Manrope";
  color: rgb(140, 140, 140);
}
.container .footer {
  display: none;
  padding: 3.12vw 6.16vw 4.25vw 4.16vw;
  background: rgb(26, 86, 83);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.container .footer div {
  display: flex;
  justify-content: space-between;
}
.container .footer div .header__logo {
  width: 250px;
  height: 55px;
}
.container .footer div .footer_wrapper {
  display: flex;
}
.container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
  font: 300 20px "Manrope";
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
}
.container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}
.container .footer div .footer_wrapper .footer__list1 li a:hover, .container .footer div .footer_wrapper .footer__list2 li a:hover {
  border-bottom: 1.5px solid #fff;
}
.container .footer div .footer_wrapper .footer__list1 {
  margin-right: 11.97vw;
}
.container .footer div .footer_wrapper .footer__list1 li:first-child {
  font: 500 20px "Manrope";
  margin-bottom: 67px;
}
.container .footer div .footer_wrapper .footer__list1 li:last-child {
  margin: 0;
}
.container .footer div .footer_wrapper .footer__list2 li:last-child {
  margin: 0;
}

@media screen and (max-width: 1610px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .container .header .nav .header__logo {
    width: 200px;
    margin-right: 30px;
  }
  .container .header .nav .header__ol {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 15px "Manrope";
  }
  .container .header .nav .header__ol .header__li:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1280px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .container .header .nav .header__logo {
    width: 120px;
    margin-right: 30px;
  }
  .container .header .nav .header__ol {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 12px "Manrope";
  }
  .container .header .nav .header__ol .header__li:last-child {
    margin: 0;
  }
  .container .main .main__section1 {
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper {
    width: 574px;
  }
  .container .main .main__section1 .section1__wrapper .section1__title {
    text-align: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__title h1 {
    font: 700 28px "e-Ukraine";
    margin-bottom: 66px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text input, .container .main .main__section1 .section1__wrapper .section1__input_pass input {
    box-sizing: border-box;
    border: 1px solid black;
    padding-left: 28px;
    border-radius: 999px;
    font: 400 14px "Manrope";
    color: grey;
    height: 45px;
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text {
    margin-bottom: 20px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_pass {
    margin-bottom: 10px;
  }
  .container .main .main__section1 .section1__wrapper .section1__container {
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__container p {
    margin-right: 5px;
    font: 500 12px "Manrope";
    color: rgb(26, 86, 83);
  }
  .container .main .main__section1 .section1__wrapper .section1__container img {
    height: 10px;
    width: 15px;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter {
    background-color: rgb(26, 86, 83);
    text-align: center;
    margin-bottom: 30px;
    border-radius: 999px;
    padding: 14px 0;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter button {
    height: min-content;
    text-align: center;
    text-decoration: none;
    font: 600 14px "Manrope";
    color: #fff;
  }
  .container .main .main__section1 .section1__wrapper .section1__nav {
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__nav .section1__nav_tex1 {
    margin-right: 10px;
    font: 400 12px "Manrope";
    color: rgb(140, 140, 140);
  }
  .container .main .main__section1 .section1__wrapper .section1__nav a {
    text-decoration: none;
    font: 600 12px "Manrope";
    color: rgb(140, 140, 140);
  }
}
@media screen and (max-width: 1050px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
  }
  .container .header .nav .header__ol {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 10px "Manrope";
  }
  .container .header .nav .header__ol .header__li:last-child {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
  }
  .container .header .nav .header__ol .header__li:last-child a {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li:last-child a span {
    margin-right: 10px;
  }
  .container .header .nav .header__ol .header__li:last-child a img {
    width: 2.5vw;
    height: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .container .header {
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    height: auto;
  }
  .container .header .nav {
    position: relative;
    overflow: hidden;
    height: auto;
  }
  .container .header .nav .header__logo_off {
    display: none;
  }
  .container .header .nav .header__logo {
    margin: 0;
  }
  .container .header .nav .burger__container {
    display: block;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container .header .nav .burger__container .burger__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper {
    width: 30px;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div {
    border-bottom: 2px solid #1A5653;
    margin-bottom: 5px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div:nth-child(3) {
    margin: 0;
  }
  .container .header .nav .burger__container .burger__block .header__liFirst1 {
    font: bold 16px "e-Ukraine";
    color: #1A5653;
  }
  .container .header .nav .burger__container .burger__block .burger__profile img {
    width: 30px;
    height: 30px;
  }
  .container .header .nav .burger__container .burger__block2 {
    display: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 {
    position: static;
    display: block;
    width: min-content;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 {
    text-align: center;
    display: block;
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 a {
    text-decoration: none;
    font: 400 25px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol {
    display: none;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    display: block;
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 10px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol .header__li:last-child {
    display: block;
    margin: 0;
  }
  .container .header .nav .header__ol .header__li:last-child img {
    width: 30px;
    height: 30px;
  }
  .container .main {
    margin-bottom: 100px;
    padding: 0 4.16vw;
  }
  .container .main .main__section1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper {
    width: 350px;
  }
  .container .main .main__section1 .section1__wrapper .section1__title {
    text-align: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__title h1 {
    font: 700 40px "e-Ukraine";
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text, .container .main .main__section1 .section1__wrapper .section1__input_pass {
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text input, .container .main .main__section1 .section1__wrapper .section1__input_pass input {
    box-sizing: border-box;
    border: 1.4px solid black;
    padding: 10px 0 10px 28px;
    border-radius: 999px;
    font: 400 16px "Manrope";
    color: grey;
    height: auto;
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text {
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_pass {
    margin-bottom: 10px;
  }
  .container .main .main__section1 .section1__wrapper .section1__container {
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__container p {
    margin-right: 5px;
    font: 500 14px "Manrope";
    color: rgb(26, 86, 83);
  }
  .container .main .main__section1 .section1__wrapper .section1__container img {
    height: 10px;
    width: 15px;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 999px;
    background: rgb(26, 86, 83);
    padding: 10px 0;
    text-align: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter a {
    text-decoration: none;
    color: #fff;
    font: 600 16px "Manrope";
  }
  .container .main .main__section1 .section1__wrapper .section1__nav {
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__nav .section1__nav_tex1 {
    margin-right: 10px;
    font: 400 14px "Manrope";
    color: rgb(140, 140, 140);
  }
  .container .main .main__section1 .section1__wrapper .section1__nav a {
    text-decoration: none;
    font: 600 14px "Manrope";
    color: rgb(140, 140, 140);
  }
  .container .footer {
    display: block;
    background: rgb(26, 86, 83);
    padding: 3.12vw 6.16vw 3.25vw 4.16vw;
  }
  .container .footer div .header__logo {
    width: 120px;
    height: 27px;
  }
  .container .footer div .footer_wrapper {
    height: 90px;
  }
  .container .footer div .footer_wrapper .footer__list1, .container .footer div .footer_wrapper .footer__list2 {
    height: auto;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    font: 300 8px "Manrope";
    margin-bottom: 5px;
  }
  .container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .container .footer div .footer_wrapper .footer__list1 {
    display: flex;
    flex-direction: column;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    height: 100%;
    display: flex;
    flex: 1;
    font: 500 10px "Manrope";
    margin-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  .container .header {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    padding: 4.16vw 4.16vw 0 4.16vw;
  }
  .container .header .nav {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .container .header .nav .burger__container {
    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container .header .nav .burger__container .burger__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block {
    display: flex;
    align-items: center;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper {
    width: 30px;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div {
    border-bottom: 2px solid #1A5653;
    margin-bottom: 5px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div:nth-child(3) {
    margin: 0;
  }
  .container .header .nav .burger__container .burger__block .header__liFirst1 {
    font: bold 16px "e-Ukraine";
    color: #1A5653;
  }
  .container .header .nav .burger__container .burger__block .burger__profile img {
    width: 30px;
    height: 30px;
  }
  .container .header .nav .burger__container .burger__block2 {
    display: none;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 {
    position: static;
    display: block;
    width: min-content;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 {
    text-align: center;
    display: block;
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 a {
    text-decoration: none;
    font: 400 25px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol {
    display: none;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    display: block;
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 10px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol .header__li:last-child {
    display: block;
    margin: 0;
  }
  .container .header .nav .header__ol .header__li:last-child img {
    width: 30px;
    height: 30px;
  }
  .container .main {
    padding: 0 4.16vw;
  }
  .container .main .main__section1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper {
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__title {
    text-align: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__title h1 {
    font: 700 40px "e-Ukraine";
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text, .container .main .main__section1 .section1__wrapper .section1__input_pass {
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text input, .container .main .main__section1 .section1__wrapper .section1__input_pass input {
    box-sizing: border-box;
    border: 1.4px solid black;
    padding: 10px 0 10px 28px;
    border-radius: 999px;
    font: 400 16px "Manrope";
    color: grey;
    height: auto;
    width: 100%;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_text {
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__wrapper .section1__input_pass {
    margin-bottom: 10px;
  }
  .container .main .main__section1 .section1__wrapper .section1__container {
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__container p {
    margin-right: 5px;
    font: 500 14px "Manrope";
    color: rgb(26, 86, 83);
  }
  .container .main .main__section1 .section1__wrapper .section1__container img {
    height: 10px;
    width: 15px;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 999px;
    background: rgb(26, 86, 83);
    padding: 10px 0;
    text-align: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__enter a {
    text-decoration: none;
    color: #fff;
    font: 600 16px "Manrope";
  }
  .container .main .main__section1 .section1__wrapper .section1__nav {
    display: flex;
    justify-content: center;
  }
  .container .main .main__section1 .section1__wrapper .section1__nav .section1__nav_tex1 {
    margin-right: 10px;
    font: 400 14px "Manrope";
    color: rgb(140, 140, 140);
  }
  .container .main .main__section1 .section1__wrapper .section1__nav a {
    text-decoration: none;
    font: 600 14px "Manrope";
    color: rgb(140, 140, 140);
  }
  .container .footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .container .footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .footer div .header__logo {
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper {
    height: auto;
    display: block;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    text-align: center;
    font: 300 9px "Manrope";
    margin-bottom: 5px;
  }
  .container .footer div .footer_wrapper .footer__list1 {
    margin-right: 0;
    margin-bottom: 20px;
    height: min-content;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    font: 500 10px "Manrope";
    margin-bottom: 12px;
    flex: 0;
  }
  .container .footer div .footer_wrapper .footer__list1 li:last-child {
    margin: 0;
  }
}/*# sourceMappingURL=Registry.css.map */
