@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container .header {
  margin-bottom: 140px;
  padding: 2.08vw 4.16vw 0 4.16vw;
}
.container .header .nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.container .header .nav .burger__container {
  display: none;
}
.container .header .nav .header__logo {
  width: 250px;
  height: 100%;
}
.container .header .nav .header__ol {
  display: flex;
  align-items: center;
}
.container .header .nav .header__ol .header__li {
  text-align: center;
  margin-right: 3.125vw;
}
.container .header .nav .header__ol .header__li a {
  text-decoration: none;
  font: 400 1.1vw "Manrope";
  color: #1A5653;
}
.container .header .nav .header__ol .header__li a:hover {
  cursor: pointer;
  border-bottom: 1px solid #1A5653;
}
.container .header .nav .header__ol .header__li:last-child {
  margin: 0;
  cursor: pointer;
}
.container .header .header__navigation a {
  color: black;
  text-decoration: none;
  display: inline;
  font: 400 1.1vw "Manrope";
}
.container .header .header__navigation a:first-child {
  color: grey;
}
.container .main .main__section1 {
  padding: 0 4vw;
  margin-bottom: 106px;
}
.container .main .main__section1 .section1__container .section1__block_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.container .main .main__section1 .section1__container .section1__block_info .section1__block_title {
  font: 700 48px "e-Ukraine";
  color: rgb(0, 21, 24);
}
.container .main .main__section1 .section1__container .section1__block_info div {
  display: flex;
  align-items: center;
}
.container .main .main__section1 .section1__container .section1__block_info div a {
  font: 400 24px "Manrope";
  text-decoration: none;
  color: rgb(0, 21, 24);
}
.container .main .main__section1 .section1__container .section1__block_info div img {
  transform: rotate(180deg);
  margin-right: 10px;
  width: 25px;
  height: 17px;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo3 {
  grid-row: 1/2;
  grid-column: 3/5;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo4 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo5 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo6 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo7 {
  grid-row: 2/3;
  grid-column: 4/5;
}
.container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo img {
  width: 100%;
  height: 100%;
}
.container .footer {
  padding: 3.12vw 4.16vw 6.25vw 4.16vw;
  background: rgb(26, 86, 83);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.container .footer div {
  display: flex;
  justify-content: space-between;
}
.container .footer div .header__logo {
  width: 250px;
  height: 55px;
}
.container .footer div .footer_wrapper {
  display: flex;
}
.container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
  color: rgb(245, 245, 245);
  font: 300 20px "Manrope";
  margin-bottom: 20px;
}
.container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}
.container .footer div .footer_wrapper .footer__list1 {
  margin-right: 11.97vw;
}
.container .footer div .footer_wrapper .footer__list1 li:first-child {
  font: 500 20px "Manrope";
  margin-bottom: 67px;
}
.container .footer div .footer_wrapper .footer__list1 li:last-child {
  margin: 0;
}
.container .footer div .footer_wrapper .footer__list2 li:last-child {
  margin: 0;
}

@media screen and (max-width: 1610px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .container .header .nav .header__logo {
    width: 200px;
    margin-right: 30px;
  }
  .container .footer {
    padding: 3.12vw 3.16vw 3.25vw 3.16vw;
  }
  .container .footer div .header__logo {
    width: 200px;
    height: 44px;
  }
}
@media screen and (max-width: 1280px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
  }
  .container .header .nav .header__logo {
    width: 120px;
    margin-right: 30px;
  }
  .container .header .nav .header__ol {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 15px "Manrope";
  }
  .container .header .nav .header__ol .header__li:last-child {
    margin: 0;
  }
  .container .header .header__section {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .container .header .header__section div h1 {
    font: 700 38px "e-Ukraine";
    margin-bottom: 50px;
  }
  .container .header .header__section div p {
    font: 400 20px "Manrope";
    text-align: center;
    margin-bottom: 60px;
  }
  .container .header .header__section div div {
    display: flex;
    justify-content: center;
  }
  .container .header .header__section div div button {
    border: 0;
    padding: 8px 30px;
    border-radius: 999px;
  }
  .container .header .header__section div div button a {
    text-decoration: none;
    text-align: center;
    font: 600 20px "Manrope";
    color: #000;
  }
  .container .main .main__section1 {
    padding: 0 4vw;
    margin-bottom: 106px;
  }
  .container .main .main__section1 .section1__container .section1__block_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .container .main .main__section1 .section1__container .section1__block_info .section1__block_title {
    font: 700 38px "e-Ukraine";
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div {
    display: flex;
    align-items: center;
  }
  .container .main .main__section1 .section1__container .section1__block_info div a {
    font: 400 24px "Manrope";
    text-decoration: none;
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div img {
    transform: rotate(180deg);
    margin-right: 10px;
    width: 25px;
    height: 17px;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo3 {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo5 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo6 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo7 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo img {
    width: 100%;
    height: 100%;
  }
  .container .footer {
    padding: 4.12vw 7.16vw 6.25vw 4.16vw;
    background: rgb(26, 86, 83);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .container .footer div {
    display: flex;
    justify-content: space-between;
  }
  .container .footer div .header__logo {
    width: 120px;
    height: 27px;
  }
  .container .footer div .footer_wrapper {
    display: flex;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    font: 300 14px "Manrope";
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .container .footer div .footer_wrapper .footer__list1 {
    margin-right: 7.97vw;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    font: 500 16px "Manrope";
    margin-bottom: 60px;
  }
  .container .footer div .footer_wrapper .footer__list1 li:last-child {
    margin: 0;
  }
  .container .footer div .footer_wrapper .footer__list2 li:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1050px) {
  .container .header {
    margin-bottom: 70px;
  }
  .container .header .nav {
    display: flex;
    justify-content: space-between;
  }
  .container .header .nav .header__liFirst {
    font: bold 16px "e-Ukraine";
    margin-right: 40px;
  }
  .container .header .nav .header__ol {
    display: flex;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 11px "Manrope";
  }
  .container .header .nav .header__ol .header__li:last-child {
    margin: 0;
  }
  .container .header .nav .header__ol .header__li:last-child img {
    width: 30px;
    height: 30px;
  }
  .container .header .header__section {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 370px;
  }
  .container .header .header__section div h1 {
    font: 700 23px "e-Ukraine";
    margin-bottom: 20px;
  }
  .container .header .header__section div p {
    font: 400 14px "Manrope";
    text-align: center;
    margin-bottom: 20px;
  }
  .container .header .header__section div div {
    display: flex;
    justify-content: center;
  }
  .container .header .header__section div div button {
    border: 0;
    padding: 4px 15px;
    border-radius: 999px;
  }
  .container .header .header__section div div button a {
    text-decoration: none;
    text-align: center;
    font: 600 14px "Manrope";
    color: #000;
  }
  .container .header .header__navigation a {
    font-size: 11px;
  }
  .container .main .main__section1 {
    padding: 0 4vw;
    margin-bottom: 106px;
  }
  .container .main .main__section1 .section1__container .section1__block_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .container .main .main__section1 .section1__container .section1__block_info .section1__block_title {
    font: 700 38px "e-Ukraine";
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div {
    display: flex;
    align-items: center;
  }
  .container .main .main__section1 .section1__container .section1__block_info div a {
    font: 400 24px "Manrope";
    text-decoration: none;
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div img {
    transform: rotate(180deg);
    margin-right: 10px;
    width: 25px;
    height: 17px;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo3 {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo5 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo6 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo7 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo img {
    width: 100%;
    height: 100%;
  }
  .container .footer {
    padding: 4.12vw 7.16vw 6.25vw 4.16vw;
    background: rgb(26, 86, 83);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .container .footer div {
    display: flex;
    justify-content: space-between;
  }
  .container .footer div .header__liFirst {
    font: bold 20px "e-Ukraine";
    color: #fff;
    margin-right: 40px;
  }
  .container .footer div .footer_wrapper {
    display: flex;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    font: 300 14px "Manrope";
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .container .footer div .footer_wrapper .footer__list1 {
    margin-right: 7.97vw;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    font: 500 16px "Manrope";
    margin-bottom: 60px;
  }
  .container .footer div .footer_wrapper .footer__list1 li:last-child {
    margin: 0;
  }
  .container .footer div .footer_wrapper .footer__list2 li:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  .container .header {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
  }
  .container .header .nav {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .container .header .nav .header__logo_off {
    display: none;
  }
  .container .header .nav .header__logo {
    margin: 0;
  }
  .container .header .nav .burger__container {
    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container .header .nav .burger__container .burger__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper {
    width: 30px;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div {
    border-bottom: 2px solid #1A5653;
    margin-bottom: 5px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div:nth-child(3) {
    margin: 0;
  }
  .container .header .nav .burger__container .burger__block .header__liFirst1 {
    font: bold 16px "e-Ukraine";
    color: #fff;
  }
  .container .header .nav .burger__container .burger__block .burger__profile img {
    width: 30px;
    height: 30px;
  }
  .container .header .nav .burger__container .burger__block2 {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 {
    position: static;
    display: block;
    width: min-content;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 {
    text-align: center;
    display: block;
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 a {
    text-decoration: none;
    font: 400 25px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol {
    display: none;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    display: block;
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 11px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol .header__li:last-child {
    display: block;
    margin: 0;
  }
  .container .header .nav .header__ol .header__li:last-child img {
    width: 30px;
    height: 30px;
  }
  .container .main .main__section1 {
    padding: 0 5vw;
    margin-bottom: 106px;
  }
  .container .main .main__section1 .section1__container .section1__block_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__container .section1__block_info .section1__block_title {
    font: 700 25px "e-Ukraine";
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div {
    display: flex;
    align-items: center;
  }
  .container .main .main__section1 .section1__container .section1__block_info div a {
    font: 400 14px "Manrope";
    text-decoration: none;
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div img {
    transform: rotate(180deg);
    margin-right: 10px;
    width: 15px;
    height: 10px;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 4vw;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo3 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo4 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo5 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo6 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo7 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo img {
    width: 100%;
    height: 100%;
  }
  .container .footer {
    display: flex;
    padding: 3.12vw 4.16vw 6.25vw 4.16vw;
    background: rgb(26, 86, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container .footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .container .footer div .header__logo {
    width: 120px;
    height: 27px;
  }
  .container .footer div .footer_wrapper {
    width: auto;
    display: flex;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    font: 300 11px "Manrope";
    margin-bottom: 5px;
  }
  .container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .container .footer div .footer_wrapper .footer__list1 {
    margin-right: 3vw;
    margin-bottom: 0;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    font: 500 12px "Manrope";
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper .footer__list1 li:last-child {
    margin: 0;
  }
  .container .footer div .footer_wrapper .footer__list2 li:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    overflow: hidden;
  }
  .container .header {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
  }
  .container .header .nav {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .container .header .nav .header__liFirst {
    display: none;
    font: bold 16px "e-Ukraine";
    color: #fff;
    margin-right: 0;
  }
  .container .header .nav .burger__container {
    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container .header .nav .burger__container .burger__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block {
    display: flex;
    align-items: center;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper {
    width: 30px;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div {
    border-bottom: 2px solid #1A5653;
    margin-bottom: 5px;
  }
  .container .header .nav .burger__container .burger__block .burder__logo_block .burder__logo_wrapper div:nth-child(3) {
    margin: 0;
  }
  .container .header .nav .burger__container .burger__block .header__liFirst1 {
    font: bold 16px "e-Ukraine";
    color: #1A5653;
  }
  .container .header .nav .burger__container .burger__block .burger__profile img {
    width: 30px;
    height: 30px;
  }
  .container .header .nav .burger__container .burger__block2 {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 {
    position: static;
    display: block;
    width: min-content;
    height: min-content;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 {
    text-align: center;
    display: block;
    position: static;
    margin: 0;
    margin-bottom: 10px;
  }
  .container .header .nav .burger__container .burger__block2 .header__ol1 .header__li1 a {
    text-decoration: none;
    font: 400 25px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol {
    display: none;
    align-items: center;
  }
  .container .header .nav .header__ol .header__li {
    display: block;
    margin-right: 3.125vw;
  }
  .container .header .nav .header__ol .header__li a {
    text-decoration: none;
    font: 400 10px "Manrope";
    color: #fff;
  }
  .container .header .nav .header__ol .header__li:last-child {
    display: block;
    margin: 0;
  }
  .container .header .nav .header__ol .header__li:last-child img {
    width: 30px;
    height: 30px;
  }
  .container .header .header__section {
    display: flex;
    justify-content: center;
    height: 60%;
  }
  .container .header .header__section div div {
    text-align: center;
  }
  .container .header .header__section div div h1 {
    width: min-content;
    font: 700 23px "e-Ukraine";
    color: #fff;
    margin-bottom: 20px;
    display: block;
  }
  .container .header .header__section div p {
    font: 400 14px "Manrope";
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  .container .header .header__section div div {
    display: flex;
    justify-content: center;
  }
  .container .header .header__section div div button {
    border: 0;
    padding: 4px 15px;
    background: #fff;
    border-radius: 999px;
  }
  .container .header .header__section div div button a {
    text-decoration: none;
    text-align: center;
    font: 600 14px "Manrope";
    color: #000;
  }
  .container .main .main__section1 {
    padding: 0 5vw;
    margin-bottom: 106px;
  }
  .container .main .main__section1 .section1__container .section1__block_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .container .main .main__section1 .section1__container .section1__block_info .section1__block_title {
    font: 700 25px "e-Ukraine";
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div {
    display: flex;
    align-items: center;
  }
  .container .main .main__section1 .section1__container .section1__block_info div a {
    font: 400 14px "Manrope";
    text-decoration: none;
    color: rgb(0, 21, 24);
  }
  .container .main .main__section1 .section1__container .section1__block_info div img {
    transform: rotate(180deg);
    margin-right: 10px;
    width: 15px;
    height: 10px;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 4vw;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo3 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo4 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo5 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo6 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo .section1__photo7 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .container .main .main__section1 .section1__container .section1__block_photo .section1__wrapper_photo img {
    width: 100%;
    height: 100%;
  }
  .container .footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: rgb(26, 86, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container .footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .footer div .header__logo {
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper {
    display: block;
  }
  .container .footer div .footer_wrapper .footer__list1 li, .container .footer div .footer_wrapper .footer__list2 li {
    text-align: center;
    font: 300 9px "Manrope";
    margin-bottom: 5px;
  }
  .container .footer div .footer_wrapper .footer__list1 li a, .container .footer div .footer_wrapper .footer__list2 li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
  }
  .container .footer div .footer_wrapper .footer__list1 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .container .footer div .footer_wrapper .footer__list1 li:first-child {
    font: 500 10px "Manrope";
    margin-bottom: 12px;
  }
  .container .footer div .footer_wrapper .footer__list1 li:last-child {
    margin: 0;
  }
  .container .footer div .footer_wrapper .footer__list2 li:last-child {
    margin: 0;
  }
}/*# sourceMappingURL=ReportPhoto.css.map */
