@font-face {
    font-family: 'e-Ukraine';
    src: url('e-Ukraine-Medium.woff2') format('woff2'),
        url('e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

