@font-face {
    font-family: 'e-Ukraine';
    src: url('e-Ukraine-Regular.woff2') format('woff2'),
        url('e-Ukraine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

