@font-face {
    font-family: 'e-Ukraine';
    src: url('e-Ukraine-Light.woff2') format('woff2'),
        url('e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

